/*Main App and Pages CSS */
/* Main App container */
#App {
  text-align: center;
}

/*First div in every page, may change to body instead of div*/
#main {
  position: relative;
}

/*Container Wrap, contains 3 main divs*/
.divwrap{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: grey;
}

/*Middle Div*/
.midContainer{
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  padding-top: 30px;
  padding-bottom: -20px;
  width: 48%;
  height: 96%;
  background-color: white;
}

/*Right Div*/
.rightContainer{
  position: relative;

  margin: 0px auto;
  padding-top: 30px;
  padding-bottom: -20px;
  width: 48%;
  height: 96%;
  background-color: white;
}

/*Left Div*/
.leftContainer{
  position: relative;
}


/*Main container, used in ALL pages except About (for now)*/
.container {
  position: relative;
}

/*Footer Div, exists outside of div wrap, but inside of main*/
.footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/*Footer Element, exists inside of .footer*/
.App-footer {
  background-color:#17458f;
  max-height: 100px;
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: right;
  padding-right: 60px;
}

/*Fonts for text in About.js*/
.about1 {font-family: "Frutiger";}
.about2 {font-family: "OpenSans";}
.about3 {font-family: "Arial";}
.about4 {font-family: "Sentinel";}
.about5 {font-family: "Georgia";}

/*Components and Hooks CSS*/
/*Banner CSS, may be able to remove App div inside Banner.js*/
.App-header {
  background-color: #17458f;
  min-height: 50px;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content:center;
  font-size: calc(10px + 2vmin);
  color: #f7a81b;
}

/*Ogopogo Logo, in Logo.js*/
.logoimg img {
  float: left;
  padding-left: 30px;
}

/*Textbox.js CSS*/
.textbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "OpenSans";
}

/*Progressbar.js CSS*/
.progBar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/*matchEmail.js main Section*/
.enterEmail {
  font-family: "Arial";
  text-align: left;
  padding-top: 180px;
  padding-left: 270px;
}

/*Quantity on Orderqty.js*/
.quantity {
  display: flex;
  background-color: #f7a81b;
}

/*Removes something from screen, use in matchEmail.js and placeOrder.js*/
.offscreen {
  position: absolute;
  left: -9999px;
}

/*Text in placeOrder.js*/
.orderText {
  font-family: "Frutiger";
  text-align: left;
  padding-top: 30px;
  padding-left: 270px;
}

/*Display order quantity, placeOrder.js*/
.orderQuantity {
  padding-top: 20px;
}

/*Next button on Orderqty.js(placeOrder.js)*/
.orderSubmit {
  margin-left: 60px;
}

/*Check mark for matchEmail.js*/
.valid {
  color: limegreen;
  margin-left: 4px;
}

/*Red X for matchEmail.js*/
.invalid {
  color: red;
  margin-left: 4px;
}

/*Continue button on Startpage, used in matchEmail.js*/
.emailSubmit {
  margin-top: 16px;
}

/* drop down button*/
.dropbtn{
  background-color:#f7a81b;
  color: black;
  padding: 8px;
  font-size: 12px;
  border-radius: 8px;

}

/* drop down box*/
.dropdown {
  display: inline-block;
  position:relative;
  align-items:flex-start;
  flex-direction:row-reverse;
  right: -18%;
}
/*dropdown-content*/
.dropdown-content {
  position: absolute;
  background-color: #17458f;
  min-width: 200px;
  display: none;
  z-index: 1;
  text-align: right;
  border-radius: 0.2rem;
  right: 5%;
}

/* drop down cells */
.dropdown-content a {  
  color: black;  
  font-family: "Arial";
  padding: 5px 16px;  
  text-decoration: none;  
  display: block; 
  outline-width: 1px;
  outline-style: solid;
  outline-color: white;
}  

/*Dropdown cell attriibutes, used in Dropdown.js*/
.dropdown-content a:hover { background-color: #f7a81b;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .drpbtn {background-color: grey;}


/*NEED TO CLARIFY: Are these being used?*/

.App-link {
  color: #61dafb;
}

.Link {
  font-family: "Frutiger";
  color: white;
  align-self: center;
}

.main-menu {
  display: flex;
  padding: 0;
}

.main-menu li {
  margin:0 10px;
  list-style: none;
  padding: 0;
}

/*NEW CSS LAYOUT: TESTING*/
/*Main App*/
.appMain{

}

/*App Header*/
.appHeader{

}

/*App Container*/
.appContainer{

}

/*3 divs in appContainer divided into columns*/
/*Left Container*/
.leftDiv{

}
/*Middle Container*/
.middleDiv{

}
/*Right Container*/
.rightDiv{

}

/*App Footer*/
.appFooter{

}
