/*Main App and Pages CSS */
/* Main App container */
#App {
  text-align: center;
}
/*First div in every page, may change to body instead of div*/
#main {
  position: relative;
}
/*Container Wrap, contains 3 main divs*/
.divwrap{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: grey;
}
/*Middle Div*/
.midContainer{
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  padding-top: 30px;
  padding-bottom: -20px;
  width: 48%;
  height: 96%;
  background-color: white;
}
/*Right Div*/
.rightContainer{
  position: relative;
  margin: 0px auto;
  padding-top: 30px;
  padding-bottom: -20px;
  width: 48%;
  height: 96%;
  background-color: white;
}
/*Left Div*/
.leftContainer{
  position: relative;
}
/*Main container, used in ALL pages except About (for now)*/
.container {
  position: relative;
}
/*Footer Div, exists outside of div wrap, but inside of main*/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
  text-align: center;
}
/*Footer Element, exists inside of .footer*/
.App-footer {
  background-image: linear-gradient(to right, #17458f,#0067c8);
  height: 42px;
  position: relative;
  display: flex;
  padding-right: 60px;
}

/*more Navbar CSS, exists in the navbar component, is inside .App-footer*/
.mainNav {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:flex-end;
  width: 100%;
}
.leftNav{
  position: relative;
  width: 15%;
}
.centerNav {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 4.5%;
  width: 70%;
}
.rightNav {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items:baseline;
  width: 15%;
}
.rotaryFont{font-family:"Sentinel"; color: white;}

/*Fonts for text in About.js*/
.aboutTitle {font-family: "Frutiger";}
.aboutQ {font-family: "OpenSans";}
.aboutA {font-family: "Sentinel";}
.progessTitle{
  font-family: "Frutiger";
  font-weight:900;
}
.progressText {
  font-family: "Arial";
  font-size: small;
}
/*Components and Hooks CSS*/
/*Banner CSS, may be able to remove App div inside Banner.js 

color: #f7a81b;
background-color: #17458f;

*/
.App-header {
  /*
  try: 
  background-image: linear-gradient(to right,#f7a81b, #17458f,#0067c8);
  background-image: linear-gradient(to right,#0067c8, #17458f);
  */
  background-image: linear-gradient(to right, #17458f,#0067c8);
  height: 140px;
  position: fixed;
  top: 0;
  left: 0;
  margin-bottom: 10px;
  z-index: 2;
  width: 100%;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content:center;
  font-size: calc(7px + 2vmin);
}
.empBanner {
  background-image: linear-gradient(to right, #17458f,#0067c8);
  min-height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  margin-bottom: 0px;
  z-index: 2;
  width: 100%;
  padding-left: 10px;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content:space-between;
  font-size: calc(7px + 2vmin);
}
/*Ogopogo Logo, in Logo.js*/
.logoimg img {
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  
}
/*Bundle1 image on startpage, in Bundles1.js*/
.bundles1 img {
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  width: 220px;
  height: 120px;
}
/*Bundle2 image on order page, in Bundles2.js*/
.bundles2 img {
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-left: 80px;
  width: 500px;
  height: 350px;
}
/*Woodimg image on startpage right div, in Woodimg.js*/
.woodimg img {
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-left: 3px;
  width: 260px;
  height: 195px;
  /*width: 600px;
  height: 450px;*/
}
.cutWood img {
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  width: 150px;
  height: 200px;
}
.firewoodTeam img {
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-left: 3px;
  margin-bottom: 20px;
  width: 230px;
  height: 150px;
}
/*Camp OAC Secondary Logo*/
.campLogo img{
  position: relative;
  margin: auto;
  display: flex;
  padding-top: 30px;
  padding-left: 3px;
  width: 160px;
  height: 175px;
}
.campName img {
  position: relative;
  margin: auto;
  display: flex;
  width: 46px;
  height: 13px;
}
/*Textbox.js CSS*/
.textbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "OpenSans";
}
/*Progressbar.js CSS #17458f*/
.progBar {
  position: relative;
  display: flex;
  flex-direction: column;
  
  width: 100%;
  margin-left: -15px;
  margin-bottom: 30px;
  margin-top: 20px;
  border: 2px ridge #0067c8;
  padding: 15px;
  padding-top: 5px;
}
.progBar ul {
  margin-top: -10px;
  margin-bottom: -5px;
  list-style: square;
  align-items:flex-start;
  
}
.progBar ul li {
  margin: 7px;
}

/*matchEmail.js main Section*/
.enterEmail {
  font-family: "Arial";
  text-align: left;
  padding-top: 25px;
  padding-left: 100px;
}
/*Quantity on Orderqty.js*/
.quantity {
  display: flex;
  background-color: #f7a81b;
}
/*Removes something from screen, use in matchEmail.js and placeOrder.js*/
.offscreen {
  position: absolute;
  left: -9999px;
}
/*Text in placeOrder.js*/
.orderText {
  font-family: "Frutiger";
  text-align: left;
  padding-top: 20px;
  padding-left: 100px;
}
.loggedIn {
  color: #17458f;
  text-align: left;
  font-family: "OpenSans";
  font-weight: bolder;
  padding-top: 10px;
  padding-left: 100px;
}
/*Display order quantity, placeOrder.js*/
.orderQuantity {
  padding-top: 20px;
}
/*Next button on Orderqty.js(placeOrder.js)*/
.orderSubmit {
  margin-left: 60px;
}
/*Check mark for matchEmail.js*/
.valid {
  color: limegreen;
  margin-left: 4px;
}
/*Red X for matchEmail.js*/
.invalid {
  color: red;
  margin-left: 4px;
}
/*Textbox styling*/
.textboxStyle{
  width: 30%;
  padding: 8px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #17458f;
  border-radius: 4px;
  outline: none;
}

/*Location drop down style*/
.locationStyle {
  width: 20%;
  padding: 16x 20px;
  margin: 8px 0;
  border: 2px solid #17458f;
  border-radius: 4px;
  outline: none;
}
.locationLabel {
  color: #17458f;
  font-family: "OpenSans";
  font-weight: bolder;
}
/*Continue button on Startpage and Orderqty, used in matchEmail.js and placeOrder.js*/
.buttonStyle {
  background-color: #17458f; /*button color*/
  border: none;
  text-align: center;
  text-decoration: none;
  color: white; /*text color*/
  margin-top: 16px;
  font-size: 16px;
  font-family: "Arial";
  border-radius: 4px;
}
.buttonStyle:hover {
  background-color: #f7a81b;
  color: black;
}
/*Link style, will remain white*/
.squareLink,.squareLink:link, .squareLink :visited {
  color: white;
  text-decoration: none;
}

/*box for payment option buttons*/
.buttonBox {
  position: relative;
  padding-left: 100px;
  margin: 10px;
}
/*CSS for Header Link, found in Header.js*/
.Link {
  font-family: "Frutiger";
  color: white;
  align-self: center;
  
}
.adminLink {
  font-family: "Frutiger";
  color: white;
  font-size: small;
}
/* drop down button*/
.dropbtn{
  background-color:#f7a81b;
  color: black;
  padding: 8px;
  font-size: 12px;
  border-radius: 8px;
}
/* drop down box right: -18%; display: inline-block;*/
.dropdown {
  position:relative;
  align-items:flex-start;
  flex-direction:row-reverse;
  margin-left: 30%;
  float: right;
  z-index: 3;
}
/*dropdown-content*/
.dropdown-content {
  position: absolute;
  background-color: #17458f;
  min-width: 200px;
  display: none;
  text-align: right;
  right: 5%;
  border: 4px solid #f7a81b;
  border-radius: 4px;
  z-index: 3;
}
/* drop down cells */
.dropdown-content a {  
  color: white;  
  font-family: "Arial";
  padding: 5px 16px;  
  text-decoration: none;  
  display: block; 
  border: 1px solid #0067c8;
  border-radius: 4px;
  z-index: 3;
}  
/*Dropdown cell attriibutes, used in Dropdown.js*/
.dropdown-content a:hover { background-color: #f7a81b;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .drpbtn {background-color: grey;}

/*Title in Email Check startpage*/
.startTitle{
  padding-left: 100px;
  font-family: "Frutiger";
  font-weight: bolder;
}
/*CSS for text in right div on start page*/
.howToTitle{
  font-family: "Arial";
}
.howToText{
  font-family: "Frutiger";
}
/*Place Order Title*/
.orderTitle {
  padding-left: 100px;
  font-family: "Frutiger";
  font-weight: bolder;
}
/*Text for bundle size info, in */
.bundleText{
  padding: 30px;
  font-family: "Frutiger";
  font-size: large;
}


/*NEED TO CLARIFY: Are these being used?*/
.App-link {
  color: #61dafb;
}
.main-menu {
  display: flex;
  padding: 0;
}
.main-menu li {
  margin:0 10px;
  list-style: none;
  padding: 0;
}

/*NEW CSS LAYOUT: Testing CSS Box Model*/
 /*Main App*/
 .appMain{
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 0;
}

/*App Header*/
.appHeader {
  position: relative;
  display: flex;
  flex-direction: column;
}
/*Admin Nav bar, used in Employee pages* top: 100;left: 0;*/
.empHeader {
  background-color: #2c4356;
  position: fixed;
  left: 0;
  top: 12%;
    
  z-index: 2;
  width: 100%;
  display: flex;
  flex-direction:column;  
  align-items: center;
  justify-content:center;
}

/*App Container*/
.appContainer{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: center;
  width: 100%;
  background-color: lightgray;
  margin-top: 140px;
  z-index: 1;
  /*background-image: linear-gradient( lightgray,grey);*/
}

/*3 divs in appContainer divided into columns*/
/*Left Container*/
.leftDiv{
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 10%;
  min-height: 650px;
  border: 7px solid #0067c8;
  padding: 5px 50px;
  margin: 5px;
  margin-left: 10px;
  border-radius: 5px;
  background-color: white;
}
/*Middle Container*/
.middleDiv{
  position: relative;
  display: flex;
  flex-direction: column;
  
  width: 70%;
  min-height: 650px;
  border: 7px solid #0067c8;
  padding: 50px;
  margin: 5px;
  border-radius: 5px;
  background-color: white;
}
/*Right Container*/
.rightDiv{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 20%;
  min-height: 650px;
  
  border: 7px solid #0067c8;
  padding: 30px;
  border-radius: 5px;
  margin:5px;
  background-color: white;
}
/*left Div for order page and on*/
.updateLeft{
  position: relative;
  display: flex;
  flex-direction: column;
  
  width: 80%;
  min-height: 650px;
  border: 7px solid #0067c8;
  padding: 50px;
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 10px;
  border-radius: 5px;
  background-color: white;
}
/*right Div for order page and on*/
.updateRight{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 20%;
  min-height: 650px;
  
  border: 7px solid #0067c8;
  padding: 50px;
  border-radius: 5px;
  margin:5px;
  background-color: white;
}
/*Div that contains bundle info, on order page*/
.bundleDiv{
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 5px;
}


/*App Footer*/
.appFooter{
  position: relative;
}
/*Emp login page*/
.empLeftDiv {
  position: relative;
  display: flex;
  align-items: left;
  flex-direction: column;
  width: 70%;
  min-height: 650px;
  border: 7px solid #0067c8;
  padding: 40px;
  margin: 5px;
  margin-left: 11px;
  margin-top: 60px;
  border-radius: 5px;
  background-color: white;
}
.empRightDiv {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  min-height: 650px;
  
  border: 7px solid #0067c8;
  padding: 20px;
  border-radius: 5px;
  margin:5px;
  margin-top: 60px;
  background-color: white;
}

.empMainDiv {
  position: relative;
  display: flex;
  flex-direction: column;
  
  width: 100%;
  min-height: 650px;
  border: 7px solid #0067c8;
  padding: 20px;
  margin: 5px;
  margin-left: 11px;
  margin-top: 60px;
  border-radius: 5px;
  background-color: white;
}

.empLoginDiv {
  position: relative;
  display: flex;
  flex-direction: column;
  
  width: 100%;
  min-height: 650px;
  border: 7px solid #0067c8;
  padding: 20px;
  margin-right: 5px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: white;
}
.superAdminTop {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 7px solid #0067c8;
  margin: 2px;
  border-radius: 3px;
  background-color: white;
}

.inventoryCont {
  text-align: center;
}

/* DB LIST */


.dblist {
  table-layout: fixed;
  width: 100%;
  
}
/*
.dblist li {
  border-bottom: 1px solid var(--border-color);
  list-style-type: none;
}

.dblist li span {
  display: block;
  text-align: left;
}
*/


/*adminTools, viewOrders, inventoryByLoc, orderHistory
  all inplement styling for Emp.js

  adminTools a: Creates the spacing between buttons
*/
.adminTools {
  display: flex;
  flex-direction: row;
  position: relative;
  padding-bottom: 5px;
  align-items: center;
  justify-content: center;
}

.adminTools a {
  margin: 15px;
}

.viewOrders {
  font-family: "Frutiger";
  height: 50px;
  background-color: white;
  border-radius: 30px;
  border-color: #0067c8;
}

/* order list styling*/
/*
#list-orderList{
  padding: 0%;
  
}
*/
.listHeader{
  
  background-color: lightgray;
}
/*
.listHeaderItem{
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  align-items: center;
  text-align: center;
  border-left: 1px solid #0067c8;
  box-sizing: border-box;
  width:100%;
}
.orderList { 
  border-bottom: 1px solid #0067c8;
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;

}

.orderChild{
  display:inline-flex;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  align-items: center;
  text-align: center;
  border-left: 1px solid #0067c8;
  box-sizing: border-box;
  width:100%;
  
}
*/
.orderChild span{
  text-align: center;
  font-size: 12px;
  
}
#headerID{
  width:22%
}
#headerEmail{
  width:18%
}
#headerQuantity{
  width: 10%;
}
#headerLocation{
  width:16%;
}
#headerDate{
  width:14%
}
#headerPrice{
  width:10%;
}
#headerStatus{
  width:10%
}




.inventoryByLoc {
  font-family: "Frutiger";
  height: 50px;
  background-color: white;
  border-radius: 30px;
  border-color: #0067c8;
}

.orderHistory {
  font-family: "Frutiger";
  height: 50px;
  background-color: white;
  border-radius: 30px;
  border-color: #0067c8;
}

.viewOrders:hover {background-color: #0067c8;}
.inventoryByLoc:hover {background-color: #0067c8;}
.orderHistory:hover {background-color: #0067c8;}

.inventoryTable, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  margin-left: 20px;
  margin-top: 30px;
}