/*Main App and Pages CSS */
/* Main App container */
#App {
  text-align: center;
}
/*First div in every page, may change to body instead of div*/
#main {
  position: relative;
}
/*Container Wrap, contains 3 main divs*/
.divwrap{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: grey;
}
/*Middle Div*/
.midContainer{
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  padding-top: 30px;
  padding-bottom: -20px;
  width: 48%;
  height: 96%;
  background-color: white;
}
/*Right Div*/
.rightContainer{
  position: relative;
  margin: 0px auto;
  padding-top: 30px;
  padding-bottom: -20px;
  width: 48%;
  height: 96%;
  background-color: white;
}
/*Left Div*/
.leftContainer{
  position: relative;
}
/*Main container, used in ALL pages except About (for now)*/
.container {
  position: relative;
}
/*Footer Div, exists outside of div wrap, but inside of main*/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
/*Footer Element, exists inside of .footer*/
.App-footer {
  background-image: linear-gradient(to right, #17458f,#0067c8);
  max-height: 100px;
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: right;
  padding-right: 60px;
}
/*Fonts for text in About.js*/
.aboutTitle {font-family: "Frutiger";}
.aboutQ {font-family: "OpenSans";}
.aboutA {font-family: "Sentinel";}
/*Components and Hooks CSS*/
/*Banner CSS, may be able to remove App div inside Banner.js 

color: #f7a81b;
background-color: #17458f;

*/
.App-header {
  /*
  try: 
  background-image: linear-gradient(to right,#f7a81b, #17458f,#0067c8);
  background-image: linear-gradient(to right,#0067c8, #17458f);
  */
  background-image: linear-gradient(to right, #17458f,#0067c8);
  min-height: 50px;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content:center;
  font-size: calc(10px + 2vmin);
}
/*Ogopogo Logo, in Logo.js*/
.logoimg img {
  position: relative;
}
/*Textbox.js CSS*/
.textbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "OpenSans";
}
/*Progressbar.js CSS*/
.progBar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
/*matchEmail.js main Section*/
.enterEmail {
  font-family: "Arial";
  text-align: left;
  padding-top: 25px;
  padding-left: 100px;
}
/*Quantity on Orderqty.js*/
.quantity {
  display: flex;
  background-color: #f7a81b;
}
/*Removes something from screen, use in matchEmail.js and placeOrder.js*/
.offscreen {
  position: absolute;
  left: -9999px;
}
/*Text in placeOrder.js*/
.orderText {
  font-family: "Frutiger";
  text-align: left;
  padding-top: 20px;
  padding-left: 100px;
}
.loggedIn {
  color: #17458f;
  text-align: left;
  font-family: "OpenSans";
  font-weight: bolder;
  padding-top: 10px;
  padding-left: 100px;
}
/*Display order quantity, placeOrder.js*/
.orderQuantity {
  padding-top: 20px;
}
/*Next button on Orderqty.js(placeOrder.js)*/
.orderSubmit {
  margin-left: 60px;
}
/*Check mark for matchEmail.js*/
.valid {
  color: limegreen;
  margin-left: 4px;
}
/*Red X for matchEmail.js*/
.invalid {
  color: red;
  margin-left: 4px;
}
/*Textbox styling*/
.textboxStyle{
  width: 30%;
  padding: 8px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #17458f;
  border-radius: 4px;
  outline: none;
}

/*Location drop down style*/
.locationStyle {
  width: 20%;
  padding: 16x 20px;
  margin: 8px 0;
  border: 2px solid #17458f;
  border-radius: 4px;
  outline: none;
}
.locationLabel {
  color: #17458f;
  font-family: "OpenSans";
  font-weight: bolder;
}
/*Continue button on Startpage and Orderqty, used in matchEmail.js and placeOrder.js*/
.buttonStyle {
  background-color: #17458f; /*button color*/
  border: none;
  text-align: center;
  text-decoration: none;
  color: white; /*text color*/
  margin-top: 16px;
  font-size: 16px;
  font-family: "Arial";
  border-radius: 4px;
}
.buttonStyle:hover {
  background-color: #f7a81b;
  color: black;
}
/*Link style, will remain white*/
.squareLink,.squareLink:link, .squareLink :visited {
  color: white;
  text-decoration: none;
}

/*box for payment option buttons*/
.buttonBox {
  position: relative;
  padding-left: 100px;
  margin: 10px;
}
/*CSS for Header Link, found in Header.js*/
.Link {
  font-family: "Frutiger";
  color: white;
  align-self: center;
  
}
/* drop down button*/
.dropbtn{
  background-color:#f7a81b;
  color: black;
  padding: 8px;
  font-size: 12px;
  border-radius: 8px;
}
/* drop down box right: -18%; display: inline-block;*/
.dropdown {
  position:relative;
  align-items:flex-start;
  flex-direction:row-reverse;
  margin-left: 30%;
  float: right;
}
/*dropdown-content*/
.dropdown-content {
  position: absolute;
  background-color: #17458f;
  min-width: 200px;
  display: none;
  z-index: 1;
  text-align: right;
  right: 5%;
  border: 4px solid #f7a81b;
  border-radius: 4px;
}
/* drop down cells */
.dropdown-content a {  
  color: white;  
  font-family: "Arial";
  padding: 5px 16px;  
  text-decoration: none;  
  display: block; 
  border: 1px solid #0067c8;
  border-radius: 4px;
}  
/*Dropdown cell attriibutes, used in Dropdown.js*/
.dropdown-content a:hover { background-color: #f7a81b;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .drpbtn {background-color: grey;}

/*Title in Email Check startpage*/
.startTitle{
  padding-left: 100px;
  font-family: "Frutiger";
  font-weight: bolder;
}
/*Place Order Title*/
.orderTitle {
  padding-left: 100px;
  font-family: "Frutiger";
  font-weight: bolder;
}


/*NEED TO CLARIFY: Are these being used?*/
.App-link {
  color: #61dafb;
}
.main-menu {
  display: flex;
  padding: 0;
}
.main-menu li {
  margin:0 10px;
  list-style: none;
  padding: 0;
}

/*NEW CSS LAYOUT: Testing CSS Box Model*/
 /*Main App*/
 .appMain{
  position: relative;
}

/*App Header*/
.appHeader{
  position: relative;
}

/*App Container*/
.appContainer{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: center;
  width: 100%;
  background-color: lightgray;
  /*background-image: linear-gradient( lightgray,grey);*/
}

/*3 divs in appContainer divided into columns*/
/*Left Container*/
.leftDiv{
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 10%;
  min-height: 650px;
  border: 7px solid #0067c8;
  padding: 50px;
  margin: 5px;
  border-radius: 5px;
  background-color: white;
}
/*Middle Container*/
.middleDiv{
  position: relative;
  display: flex;
  flex-direction: column;
  
  width: 70%;
  min-height: 650px;
  border: 7px solid #0067c8;
  padding: 50px;
  margin: 5px;
  border-radius: 5px;
  background-color: white;
}
/*Right Container*/
.rightDiv{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 20%;
  min-height: 650px;
  
  border: 7px solid #0067c8;
  padding: 50px;
  border-radius: 5px;
  margin:5px;
  background-color: white;
}

/*App Footer*/
.appFooter{
  position: relative;
}

.dblist h1 {
  text-align: center;
}

.dblist li {
  padding: 20px 0;
  border-bottom: 1px solid var(--border-color);
}

.dblist li span {
  display: block;
  text-align: left;
}

/*adminTools, viewOrders, inventoryByLoc, orderHistory
  all inplement styling for Emp.js

  adminTools a: Creates the spacing between buttons
*/
.adminTools {
  display: flex;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  align-items: center;
  justify-content: center;
}

.adminTools a {margin-right: 30px;}

.viewOrders {
  font-family: "Frutiger";
  height: 50px;
  background-color: white;
  border-radius: 30px;
  border-color: #0067c8;
}

.inventoryByLoc {
  font-family: "Frutiger";
  height: 50px;
  background-color: white;
  border-radius: 30px;
  border-color: #0067c8;
}

.orderHistory {
  font-family: "Frutiger";
  height: 50px;
  background-color: white;
  border-radius: 30px;
  border-color: #0067c8;
}

.viewOrders:hover {background-color: #0067c8;}
.inventoryByLoc:hover {background-color: #0067c8;}
.orderHistory:hover {background-color: #0067c8;}

.inventoryTable, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  margin-left: 500px;
  margin-top: 30px;
}